/*
 * Copyright (c) 2026 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/keypaw/rgb_matrix.h>

#include "keypaw48.dtsi"
#include "kp-peri_right.dtsi"

&default_transform {
    col-offset = <6>;
};

/ {
    rgb_matrix: rgb-matrix {
        compatible = "keypaw,rgb-matrix";
        strip = <&led_strip>;
        physical-layout = <&default_layout>;

        mapping = <
        6 7 8 9 10 11
        23 22 21 20 19 18
        30 31 32 33 34 35

        KP_RGB_NO_KEY(1450, 387) // between 35 & 47
        KP_RGB_NO_KEY(1350, 387) // between 34 & 46
        KP_RGB_NO_KEY(1250, 400) // ~to the left of the previous LED
        KP_RGB_NO_KEY(1180, 350) // ~to the top left of the previous LED
        47 46
        KP_RGB_NO_KEY(1000, 500) // ~to the right of 42
        42
        KP_RGB_NO_KEY(850, 475)  // ~to the left of 42
        43 44 45
        >;
    };

    glidepoint_listener {
        compatible = "zmk,input-listener";
        device = <&paw3395>;
    };

    ft6236_listener: ft6236_listener {
        compatible = "zmk,input-listener";
        device = <&ft6236_split>;

        /* Scroll divisors: param1 = X, param2 = Y, in logical units per
         * wheel notch (0 -> 1). 48/36 ~= 5.5 notches per inch of travel on
         * both axes for this panel; tune to taste. */
        input-processors = <&ft6236_touchpad_proc 48 36>;
    };

    /* PTP (Digitizer 0x0D) + scroll input processor for the FT6236. */
    ft6236_touchpad_proc: ft6236_touchpad_proc {
        compatible = "zmk,input-processor-ft6236-touchpad";
        #input-processor-cells = <2>;
        scroll-natural;

        /* Digitizer active area: 1.23 in x 1.63 in, in 1/100 inch. */
        physical-width = <123>;
        physical-height = <163>;
    };
};
