/*
 * Copyright (c) 2026 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

&spi2 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    pinctrl-0 = <&spi2_default>;
    pinctrl-1 = <&spi2_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>, <&gpio0 24 GPIO_ACTIVE_LOW>;

    oled: jd9613@0 {
        compatible = "jadard,jd9613";

        /* SPI */
        reg = <0>; /* ignored, but necessary for SPI bindings */
        dc-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
        spi-max-frequency = <8000000>;

        width = <126>;
        height = <294>;
    };

    paw3395: paw3395@1 {
        compatible = "pixart,paw3395";

        /* SPI */
        reg = <0>; /* ignored, but necessary for SPI bindings */
        spi-max-frequency = <8000000>;
        motion-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
        reset-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
        cpi = <5000>;
    };
};
